@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --forground: #000;
  --background: #fff;
}

:root.dark {
  --forground: #fff;
  --background: #000;
}

body {
  background-color: var(--background);
  color: var(--forground);
}
